---
layout: base.njk
---
{% include "pages/home.njk" %}
{% include "pages/about.njk" %}
{% include "pages/saunas.njk" %}
{% include "pages/process.njk" %}
{% include "pages/gallery.njk" %}
{% include "pages/faq.njk" %}
{% include "pages/locations.njk" %}
{% include "pages/contact.njk" %}
{% include "pages/booking.njk" %}
