---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
{%- if not page.data.eleventyExcludeFromCollections and page.url and page.url != false %}
    <url>
        <loc>https://www.secretsaunacompany.ca{{ page.url }}</loc>
        <changefreq>{{ page.data.sitemap_changefreq | default("monthly") }}</changefreq>
        <priority>{{ page.data.sitemap_priority | default("0.7") }}</priority>
    </url>
{%- endif %}
{%- endfor %}
</urlset>
